*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
.container
{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100vh;
}
body
{
    background-image: url(Esport.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header
{
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.image
{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}
.image img
{
    width: 40rem;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 255, 179, 0.781));
    margin-bottom: 10px;
}
.scrollbox
{
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px 40px 10px 50px;
    align-items: flex-end;
    margin-right: 2%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    backdrop-filter: blur(10px);
    position: relative;
    width: 50%;
    float: right;
    box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0.685);
    max-height: 40rem;
    position: fixed;
    margin-left: 47%;
    overflow: auto;
}
.scrollbox-inner h5
{
    color: white;
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 2px rgba(241, 0, 120, 0.986);
    text-decoration: overline;
}
.scrollbox-inner ul
{
    color: white;
    font-size: 1.5rem;
    margin-top: 6%;
    list-style: number;
}
.scrollbox-inner ul li
{
    margin-top: 1rem;
    font-family: "Nunito", sans-serif;
    text-align: justify;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    max-height: 50%;
}
::-webkit-scrollbar
{
    display: none;
}
::-webkit-scrollbar-track
{
    display: none;
}
.image button
{
    font-size: 25px;
    padding: 8px 15px;
    border-radius: 30px;
    border: 5px solid rgb(0, 255, 106);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    color: rgba(255, 255, 255, 0.247);
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.425);
    transition: 0.5s ease;
    cursor: pointer;
}
.image button:hover
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform:scale(1.1);
}
.image h5
{
    color: white;
    margin-bottom: 2px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}
.image .cost
{
    margin-top: 0px;
    color: white;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}
.contact
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact h5
{
    margin-right: 200%;
    margin-top: 73%;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.contact p
{
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    
}



/* media queries */
@media all and (max-width:2600px)
{
    .header .image img
    {
        width: 60rem;   
        margin-right: 65%;     
    }
    .image  h5 
    {
        margin-right: 60%;
        font-size: 3.5rem;
    }
    .image h4
    {
        margin-right: 60%;
        font-size: 3.5rem;
    }
    .image button
    {
        margin-right: 60%;
        font-size: 40px;
        margin-top: 20px;
    }
    .scrollbox
    {
        margin-left: 28%;
        max-height: 70%;
        margin-top: 5%;
        padding-left: 70px;
    }
    .scrollbox-inner h5
    {
        font-size: 50px;
    }
    .scrollbox-inner ul
    {
        font-size: 30px;
        margin-top: 30px;
    }
}


@media all and (max-width:1600px)
{
    .header
    {

        width: 100%;
        max-height: 100vh;
    }
    .image
    {
        width: 40%;
        max-height: 100vh;
        height: 50%;
        margin-top: 10%;
        margin-left: 5%;
    }
    .header .image img
    {
        width: 30rem;   
        margin-left: 60%; 
    }
    .image  h5 
    {
        margin-right:10%; 
        font-size: 50px;
    }
    .image h4
    {
        margin-right:10%; 
        font-size: 20px;
    }
    .image button
    {
        margin-right: 10%;
        font-size: 25px;
        margin-top: 20px;
    }
    .scrollbox
    {
        width: 45%;
        margin-left: 52%;
        max-height: 80%;
        margin-top: 5%;
        padding-left: 60px;
    }
    .scrollbox-inner h5
    {
        font-size: 30px;
    }
    .scrollbox-inner ul
    {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media all and (max-width:1100px)
{
    .header
    {

        width: 100%;
        max-height: 100vh;
    }
    .image
    {
        width: 40%;
        max-height: 100vh;
        height: 50%;
        margin-top: 20%;
        margin-left: 5%;
    }
    .header .image img
    {
        width: 28rem;   
        margin-left: 60%; 
    }
    .image  h5 
    {
        margin-right:10%; 
        font-size: 40px;
    }
    .image h4
    {
        margin-right:10%; 
        font-size: 18px;
    }
    .image button
    {
        margin-right: 10%;
        font-size: 25px;
        margin-top: 20px;
    }
    .scrollbox
    {
        width: 45%;
        margin-left: 52%;
        max-height: 70%;
        margin-top: 10%;
        padding-left: 60px;
    }
    .scrollbox-inner h5
    {
        font-size: 30px;
    }
    .scrollbox-inner ul
    {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media all and (max-width:768px)
{
    .container {
        max-width: 768px;
        background-color: red;
    }
    .header
    {

        max-width: 100%;
        height: 100%;
        display: flex;
        overflow: visible;
        background-color: aqua;
    }
    .image
    {
        max-width: 100%;
        height: 50%;
        margin-top: 20%;
        margin-left: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .header .image img
    {
        width: 28rem;   
        margin-left: 60%; 
        margin-top: 30%;
    }
    .header .image  h5 
    {
        margin-right:10%; 
        font-size: 40px;
    }
    .header .image h4
    { 
        font-size: 30px;
    }
    .image button
    {
        margin-right: 10%;
        font-size: 25px;
        margin-top: 20px;
    }
    .scrollbox
    {
        width: 80%;
        margin-left:75px;
        margin-top: 180rem;
        margin-right:auto;
        max-height: 70%;
        padding-left: 60px;
    }
    .scrollbox-inner h5
    {
        font-size: 30px;
    }
    .scrollbox-inner ul
    {
        font-size: 20px;
        margin-top: 30px;
    }
    
}